<head>
	<style type="text/css">
 	p1 {
 		color: red; }
    </style>
</head>

<h1>Reverse Complementor</h1>

<p>
  <form method="GET" action=".">
    <b>Enter a sequence to complement:</b>
    <input type="text" name="query"
        {% if query_string %}value="{{query_string}}"{% endif %}>
  </form>
</p>

{% if reverse_complement %}
  <p>
    <b>Reverse Complement</b>: {{reverse_complement}}
  </p>
{% endif %}

{% if RNA %}
  <p>
    <b>RNA</b>: {{RNA}}
  </p>
{% endif %}

{% if amino_acids %}
  <p>
    <b>Amino Acid Sequence</b>: {{amino_acids}}
  </p>
{% endif %}

{% if error_message %}
  <p1>
    <b>Error</b>: {{error_message}}
  </p1>
{% endif %}
